@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Slab:wght@600&display=swap');

/* CSS root doc with everything global*/

/*colors to be used everywhere*/
    :root {
    --primary-color: rgb(28, 41, 53);
    --secondary-color: rgb(234 150 252);
    --hover-color: rgb(198, 242, 253);
    --offwhite-color: rgb(255, 255, 255);
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: 'Poiret One', sans-serif;
    --gradientone: hsl(21.06deg 76.36% 16.56% / 65%);
    --gradienttwo: hsl(36.93deg 19.5% 36.11% / 65.5%);
    --gradientthree: hsla(17, 53%, 12%, 0.655);
    --gradientfour: rgba(245, 160, 255, 0.308);
    --shadow: 0 0 10px rgb(246 160 255 / 56%);
}

    .btn {
    display: inline-block;
    padding: 3% 12%;
    font-size: 1em;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin: 4%;
    }

    .btn2 {
        color: var(--offwhite-color);
        background-color: var(--secondary-color);
        height: 6vh;
        width: 20vh;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 1s;
        margin: 3%;
        }

    .btn:hover {
    background-color: var(--hover-color);
    }

    .btn2:hover {
    background-color: var(--hover-color);
    }

    input {
        width: 100%;
        background: transparent;
        outline: 0;
        padding: 5% 7%;
        box-sizing: border-box;
    }

    .form-box {
        width: 100%;
        /* max-width: 75%; */
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%,-50%); */
        background: var(--offwhite-color);
        /* padding: 7%; */
        /* padding-top: 3%; */
        /* padding-bottom: 5%; */
        text-align: center;
        border-radius: 10%;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    h1 {
        font-family: var(--heading-font);
        font-size: 3rem;
        margin-bottom: 0%;
    }

    h2 {
        font-family: var(--heading-font);
        font-size: 2rem;
        font-weight: normal;
    }

    h3 {
        font-family: var(--body-font);
        z-index: 10;
    }

    @media (min-width: 768px) {
        


        h1 {
            font-size: 5rem;
        }

        h2 {
            font-family: var(--heading-font);
            font-size: 3rem;
            font-weight: normal;
        }
    }