/* CSS root doc with everything global*/

/*colors to be used everywhere*/
:root {
    --primary-color: darkgrey;
    --secondary-color: turquoise;
    --highlight-color: azure;
    --body-font: Arial, Helvetica, sans-serif;
    }

